.env
**/*.pem
**/acme.json

homeassistant/.storage/*
homeassistant/custom_components
homeassistant/www
homeassistant/*.log*
homeassistant/*.db*
homeassistant/.HA_VERSION
homeassistant/secrets.yaml
homeassistant/.cloud

mosquitto/

ddns-data/
npm_data/
kuma_data/
octo_data/
npm_letsencrypt/
omada/

**/__pycache__/

.vscode/.DS_Store
