.env
**/*.pem
**/acme.json

homeassistant/.storage/*
homeassistant/custom_components
homeassistant/www
homeassistant/*.log*
homeassistant/*.db*
homeassistant/.HA_VERSION
homeassistant/secrets.yaml
homeassistant/.cloud

mosquitto/

**/__pycache__/