---
# Docker Compose file for ddns-updater

services:
  ddns-updater:
    image: {{ ddns_updater_image }}
    container_name: {{ ddns_updater_container_name }}
    restart: unless-stopped
    network_mode: bridge
    volumes:
      - {{ ddns_updater_data_dir }}:/updater/data
    ports:
      - "{{ ddns_updater_port }}:8000/tcp"
    environment:
      - TZ={{ timezone | default('UTC') }}
